*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}
.text-indigo{
    color: #603CD5 !important;
}
.bg-indigo{
    background-color: #603CD5 !important;
}
.bg-skin{
    background-color: #FBFAFD;
}
.bg-half-indigo{
    background-color: #DEDBF8 !important;
}


/*  for shadow  */
.my-all-box-shadow{
    box-shadow: 0 0 7px 7px rgba(208,204,238,0.63);
-webkit-box-shadow: 0 0 7px 7px rgba(208,204,238,0.63);
-moz-box-shadow: 0 0 7px 7px rgba(208,204,238,0.63);
}
.my-box-shadow{
    box-shadow: 10px 10px 5px 0px rgba(208, 204, 238);
-webkit-box-shadow: 10px 10px 5px 0px rgba(208, 204, 238);
-moz-box-shadow: 10px 10px 5px 0px rgba(208, 204, 238);
}
h1 , h2 , h3 , h5 , h4 , h6 ,  p {
    text-shadow: 4px 4px 5px rgb(208, 204, 238);
}

.section2{
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.section3{
    background-image: url(images/feature_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* section4  */

.card .icon{
    border-radius: 20% 20% 0 20%;
    box-shadow: #DEDBF8;
}
.card_1_icon{
    width: fit-content;
    background-color: #603CD5;
    border-radius: 20% 20% 0 20%;
    box-shadow: #ff0000;
}

.card-1{
    
    padding: 0 !important;
    z-index: 1 !important;
}
.card_2_icon{
    width: fit-content;
    background-color: #603CD5;
    border-radius: 0 20% 20% 20%;
    box-shadow: #ff0000;
}

.card-2{
    
    padding: 0 !important;
    z-index: 1 !important;
}
.card_3_icon{
    width: fit-content;
    background: rgb(96,60,213);
background: linear-gradient(360deg, rgba(96,60,213,1) 0%, rgba(96,60,213,1) 50%, rgba(222,219,248,1) 50%, rgba(222,219,248,1) 100%);
    border-radius: 20% 20% 20% 20%;
    box-shadow: #ff0000;
}
.mad-icon{
    background-image: linear-gradient(to bottom right, red, yellow) !important;
}

.card-3{
    
    padding: 0 !important;
    z-index: 1 !important;
}

.card_img{
    width: 100% !important;
    padding: 0 !important; 
    z-index: -1 !important;
}